@font-face {
    font-family: "Cuprum";
    src: url("../fonts/cuprum.woff") format("woff"),
    url("../fonts/cuprum.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "CuprumBold";
    src: url("../fonts/cuprumbold.woff") format("woff"),
    url("../fonts/cuprumbold.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "CuprumBoldItalic";
    src: url("../fonts/cuprumbolditalic.woff") format("woff"),
    url("../fonts/cuprumbolditalic.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "CuprumItalic";
    src: url("../fonts/cuprumitalic.woff") format("woff"),
    url("../fonts/cuprumitalic.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "PTSans";
    src: url("../fonts/ptsans.woff") format("woff"),
    url("../fonts/ptsans.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "PTSansBold";
    src: url("../fonts/ptsansbold.woff") format("woff"),
    url("../fonts/ptsansbold.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}


body, h1, h2, h3, h4, p, ul, li{
    padding: 0;
    margin: 0;
}
.container{
    width: 940px;
    margin: 0 auto;
    display: flex;
}
.header{
    background: #293449;
    width: 100%;
    margin-bottom: 60px;
}
.header__logo{
    display: flex;
}
.header__logo a{
    font-family: "Cuprum", sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    padding: 7px 55px;
    text-decoration: none;
    background: #ee3643;
    color: #ffffff;
    box-shadow: 0 5px 0 0 #b52933;
}
.header__logo a:hover{
    background: #ca2c37;
    box-shadow: 0 5px 0 0 #9a212a;
}
.header__logo a:active{
    background: #ba2732;
    box-shadow: 0 5px 0 0 #8e1e26;
}
.header__search{
    position: relative;
    width: 100%;
    display: flex;
}
.header__search input[type=search]{
    width: 270px;
    padding: 11px 0 12px 49px;;
    background-color: inherit;
    outline: none;
    border: none;
    color: #ffffff;
    font-family: "Cuprum", sans-serif;
    font-size: 17px;
    cursor: pointer;
}
.header__search label{
    position: absolute;
    width: 17px;
    top: 50%;
    transform: translateY(-50%);
    left: 17px;
    height: 17px;
    background: url(../images/sprite-hover-active.png);
    background-position: -106px -1px;
    cursor: pointer;
}
.header__search input[type=search]:hover+label{
    background-position: -106px -51px;
}
.header__search input[type=search]:focus+label{
    background-position: -207px -151px;
}

.header__search input[type=search]:hover{
    background: #212a3a;
}
.header__search input[type=search]:focus{
    background: #ffffff;
    color: #000000;
}

.header__search input[type="search"]::-webkit-input-placeholder {
    color: #fff;
}
.header__search input[type="search"]::-moz-placeholder {
    color: #fff;
}
.header__search input[type="search"]:-ms-input-placeholder {
    color: #fff;
}
.header__search input[type="search"]::-ms-input-placeholder {
    color: #fff;
}

.header__search input[type="search"]:focus::-webkit-input-placeholder {
    color: #000;
}
.header__search input[type="search"]:focus::-moz-placeholder {
    color: #000;
}
.header__search input[type="search"]:focus:-ms-input-placeholder {
    color: #000;
}
.header__search input[type="search"]:focus::-ms-input-placeholder {
    color: #000;
}
.header__checkout{
    align-self: center;
    position: relative;
    font-size: 0;
}
.header__checkout a{
    color: #ffffff;
    padding-top: 12px;
    padding-bottom: 11px;
    padding-right: 37px;
    padding-left: 40px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Cuprum", sans-serif;

}
.header__link--bookmarks::before{
    content: "";
    position: absolute;
    left: 13px;
    width: 20px;
    height: 20px;
    background: url("../images/sprite-hover-active.png");
    background-position: -53px 1px;
}
.header__link--bookmarks:hover:before{
    background-position: -53px -49px;
}
.header__link--bookmarks:active:before{
    background-position: -53px 1px;
}

.header__link--basket:hover:before{
    background-position: -7px -49px;
}
.header__link--basket:active:before{
    background-position: -8px 1px;
}



.header__checkout a:hover{
    background: #212a3a;
}
.header__checkout a:active{
    color: rgba(255, 255, 255, 0.6);
}


.header__checkout a:last-child:hover{
    background: #5fbb2d;
}
.header__checkout a:last-child:focus{
background: #518534;
}
.header__link:before{
    top: 50%;
    transform: translateY(-50%);
}
.header__link--basket::before{
    content: "";
    position: absolute;
    left: 165px;
    width: 20px;
    height: 20px;
    background: url("../images/sprite-hover-active.png");
    background-position: -8px 1px;
}

.header__checkout a:last-child{
    padding-right: 20px;
    padding-left: 20px;
    background: #63a63e;
}


.header__main{
    background: #f3f7f8;
    padding-top: 60px;
    padding-bottom: 65px;
    display: flex;
}

.header__main p{
    font-family: "CuprumItalic", sans-serif;
    font-size:16px;
    color:#ee3643;
    margin-left: 53px;
    padding-right: 70px;
}


.header__number{

    margin-right:65px;
}
.header__number a{
    position: relative;
    font-family: "Cuprum", sans-serif;
    font-size: 21px;
    color:#ee3643;
    padding: 11px 49px 11px 72px;
    border: 3px solid #ffffff;
}

.header__number a:before{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 17px;
    width: 20px;
    height: 20px;
    background: url(../images/sprite-hover-active.png);
    background-position: -203px 70px;
}


.header__main address{
    color: #32425c;
    font-family: "Cuprum", sans-serif;
    margin-top: 21px;
    font-size: 14px;
    font-style: normal;
    text-align: center;
}


.header__login{
    font-size: 0;

}

.header__login a{
    position: relative;
    font-family: "Cuprum", sans-serif;
    font-size: 21px;
    text-decoration: none;
    color:#000000;
    background: #ffffff;

}

.header__wrap{
    flex-flow: wrap;
}
.header__login a:first-child{
    padding: 14px 27px 14px 48px;
    margin-right: 10px;
}
.header__login a:last-child{
    padding: 14px 25px 14px 25px;
}
.header__login a:first-child:before{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 14px;
    width: 20px;
    height: 20px;
    background: url(../images/sprite-hover-active.png);
    background-position: -303px 173px;
}
.header__login a:hover{
    color: #ee3643;
}
.header__login a:active{
    color: rgba(0, 0, 0, 0.302);
}



.header__login a:hover:first-child:before{
    background: url(../images/sprite-hover-active.png);
    background-position: -200px 173px;
}
.header__login a:active:first-child:before{
    background: url(../images/sprite-hover-active.png);
    background-position: -303px 173px;
}

.header__navigation{
    background: #32425c;
    height: 55px;
    width: 100%;
    text-align: center;
    font-size: 0;
    margin-top: 44px;
    box-shadow: 0 5px 0 0 #293449;
}
.header__navigation ul{
    padding: 0;
    margin: 0;
}
.header__navigation li{
    list-style: none;
    display: inline-block;
}
.header__navigation a{
    font-size: 17px;
    font-family: "Cuprum", sans-serif;
    text-decoration: none;
    color: #ffffff;
    padding: 18px 21px;
    display: block;
    margin: 0;
}

.header__navigation a:hover{
    background: #293449;
}
.header__navigation a:active{
    color: rgba(255, 255, 255, 0.502);
}

.hero{
    flex-wrap: wrap;
}

.new-label:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    width: 60px;
    height: 60px;
    background: url(../images/label-new.png) no-repeat 0 0;
}

.hero__item{
    position: relative;
    width: 300px;
    height: 123px;
    background: #dc91d8;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

.hero__item h3{
    font-family: "CuprumBold", sans-serif;
    font-size: 24px;
    color: white;
    margin-bottom: 15px;
}

.hero__item a{
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-family: "Cuprum", sans-serif;
    font-size: 14px;
    display: inline-block;
    background: rgba(0, 0, 0, 0.1);
    width: 135px;
    padding: 10px 0;
    border-radius: 3%;
    text-align: center;
}


.hero__meta a:hover{
    background: rgba(0, 0, 0, 0.2);
}
.hero__meta a:active{
    background: rgba(0, 0, 0, 0.3);
}

.hero .hero__item:nth-child(1){
    margin-right: 20px;
    background: #ffbf47;
}
.hero .hero__item:nth-child(2){
    margin-right: 20px;
    background: #3bbce3;
}


.hero__slider{
    position: relative;
    flex-grow: 1;
    display: flex;
    width: 620px;
    height: 266px;
    margin-right: 20px;
    background: black;
    margin-top: 20px;
}
.hero__side{
    flex-direction: column;
    display: flex;
    margin-top: 20px;
}

.hero__side>.hero__item:first-child{
    margin-bottom: 20px;
    margin-right: 0;
    background: #8ed78f;
}
.hero__side>.hero__item:last-child{
    margin-right: 0;
    background: #ffbf47;
}
.hero__slide-text {
    position: absolute;
    top: 20px;
    margin-left: 20px;
    color: white;
}

.hero__slide-btn{
    position: absolute;
    bottom: 35px;
    margin-left: 25px;
}




.hero__slide-btn a{
    outline: none;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Cuprum", sans-serif;
    padding: 15px 49px 12px 49px;
    border-radius: 3px;
    background: #ee3643;
}

.hero__slide-text h3{
    font-size: 36px;
    font-family: "CuprumBold",sans-serif;
    text-transform: uppercase;
}

.hero__slide-text p{
    font-family: "PTSans", sans-serif;
    font-size: 18px;
}

.hero__slide-btn a:hover{
    background: #ca2c37;
}
.hero__slide-btn a:active{
    background: #ba2732;
}




.hero__img--paint{
    background: url(../images/hero__img-sprites.png) no-repeat;
    width: 80px;
    background-position: 0 100%;
    height: 80px;
}

.hero__img--screwdriver{
    background: url(../images/hero__img-sprites.png) no-repeat;
    width: 86px;
    background-position: 0 50%;
    height: 80px;
}


.hero__img--tractor{
    background: url(../images/hero__img-sprites.png) no-repeat;
    width: 100px;
    background-position: 50% 0;
    height: 80px;
}
.hero__img--basket{
    background: url(../images/hero__img-sprites.png) no-repeat;
    width: 100px;
    background-position: 110% -2px;
    height: 80px;
}

.hero__img--car{
    background: url(../images/hero__img-sprites.png) no-repeat;
    width: 100px;
    background-position: 0 0;
    height: 80px;
}

.contacts{
    padding: 80px 0px;
}
.contacts h3{
    font-family: "Cuprum", sans-serif;
    font-size: 30px;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 38px;
}
.contacts p{
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    color: #000;
    line-height: 25px;

}
.contacts ul{
    list-style: none;
    margin: 0px 0px 50px 36px;
}
.contacts li{
    position: relative;
    font-family: "Cuprum", sans-serif;
    font-size: 18px;
    color: #000;
    margin-bottom: 10px;
}
.contacts li:before{
    content: "";
    position: absolute;
    background: #ee3643;
    height: 2px;
    width: 25px;
    top: 50%;
    left: -36px;
}
.contacts__company{
    width: 640px;
}
.contacts__company a{
    text-transform: uppercase;
    font-family: "Cuprum", sans-serif;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    padding: 14px 40px;
    background: #ee3643;
}
.contacts__company a:hover{
    background: #ca2c37;
}
.contacts__company a:active{
    background: #ba2732;
}
.contacts__company ul>li:last-child{
    margin: 0;
}

.contacts p{
    margin-bottom: 30px;
}
.contacts__map{
    margin-bottom: 40px;
}
.contacts__contacts input[type=button]{
    background: #ee3643;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    border-radius: 3px;
    text-transform: uppercase;
    padding: 14px 64px;
}
.contacts__contacts input[type=button]:hover{
    background: #ca2c37;
}
.contacts__contacts input[type=button]:active{
    background: #ba2732;
}





.modal{
    position: fixed;
    z-index: 100;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -300px;
    box-sizing: border-box;
    width: 620px;
    background-color: #fff;
    box-shadow: -1px 12px 19px -5px #000;
    display: none;
}
.modal label{
    font-family: "Cuprum", sans-serif;
    font-size: 18px;
    color: #000;
}
.modal p{
    font-family: "Cuprum", sans-serif;
    font-size: 18px;
    color: #000;
}
.modal__wrap-form{
    margin: 0 auto;
}
.modal__wrap-label{
    display: flex;
}
.modal__text:last-child{
    margin-right: 0;
}
.modal__wrap-btn{
    height: 110px;
    width: 100%;
    background: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.modal__show{
    display: block;
    -wedkit-animation: bounce .5s;
    animation: bounce .5s;
}

.modal__wrp{
    position: relative;
    display: flex;
    justify-content: center;
}
.modal__wrp:after{
    position: absolute;
    content: "";
    height: 9px;
    width: 620px;
    background: #ff5357;
}

.modal__title{
    position: relative;
    font-size: 45px;
    line-height: 45px;
    font-weight: 600;
}

.modal__form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-top: 48px;
    flex-direction: column;
    width: 100%;
}

.modal__input, .modal__comment{
    display: inline-block;
    box-sizing: border-box;
    color: #a1a1a1;
    padding: 10px;
    margin-top: 10px;
    border: 2px solid #d7dcde;
    border-radius: 5px;
    width: 220px;
    outline: none;
}

.modal__input:invalid, .modal__comment:invalid{
    box-shadow: none;
    color: #e74246;
    border: 2px solid #e74246;
}

.modal__text{
    display: flex;
    flex-direction: column;
    width: 220px;
    margin-right: 20px
}

.modal__text--comment{
    position: relative;
    margin-top: 30px;
}

.modal__comment{
    width: 460px;
    height: 111px;
}

.modal__button{
    cursor: pointer;
    position: absolute;
    background: #fb565a;
    width: 460px;
    padding: 14px;
    border: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 3px;
    outline: none;
}
.modal__button:hover{
    background: #ca2c37;
    transition: 0.5s;
}
.modal__button:active{
    background: #ba2732;
    transition: 0s;
}
.btn:active, .btn:focus{
    outline: none;
}

.modal__close{
    position: absolute;
    font-size: 0;
    top: 18px;
    right: 9px;
    width: 21px;
    height: 21px;
    cursor: pointer;
    border: none;
    background: none;
    background-image: url("../images/close-btn.png");
    opacity: 0.3;
}

.modal__close:hover{
    opacity: 1;
}

.modal__close:active{
    opacity: 0.1;
}

.modal__overlay {
    position: fixed;
    z-index: 45;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
}

.modal__overlay-shadow
{
    display: block;
}







footer{
    display: flex;
    flex-direction: column;
}
.footer__top{
    background: #32425c;
}

.footer__bottom{
    background: #293449;
}
.footer__wrap{
    flex-direction: column;

}
.footer__wrap ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

.footer__wrap a{
    text-decoration: none;
    color: #ffffff;
    font-family: "Cuprum", sans-serif;
    font-size: 18px;
}
.footer__logo-nav{
    display: flex;
    height: 68px;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.footer__wrap-nav{
    display: flex;
    align-self: flex-end;
}
.footer__logo a{
    font-family: "Cuprum", sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    padding: 21px 40px;
    text-decoration: none;
    background: #ee3643;
    color: #ffffff;
    box-shadow: 0 5px 0 0 #b52933;
}
.footer__logo a:hover{
    background: #ca2c37;
    box-shadow: 0 5px 0 0 #9a212a;
}
.footer__logo a:active{
    background: #ba2732;
    box-shadow: 0 5px 0 0 #8e1e26;
}
.footer__wrap-nav ul{
    display: flex;
    color: #f3f7f9;

}
.footer__wrap-nav a{
    color: #ffffff;
}
.footer__wrap-nav a:hover{
    text-decoration: underline;
    color: #fff;
}
.footer__wrap-nav a:active{
    text-decoration: none;
    color: #fff;
    opacity: 0.3;
}
.footer__address-nav a:hover{
    text-decoration: underline;
    color: #ffd180;
}
.footer__address-nav a:active{
    text-decoration: none;
    color: red;
}
.footer__wrap-nav ul li{
    margin-left: 60px;
}


.footer__address-nav{
    display: flex;
    flex-direction: row;
    margin-top: 42px;
}
.footer__address-nav address{
    font-family: "Cuprum", sans-serif;
    font-size: 18px;
    font-style: normal;
    width: 340px;
    color: #ffffff;
    padding-bottom: 53px;
}

.footer__address-nav ul li{
    margin-left: 60px;
}

.footer__address-nav a{
    color: #ffda96;
}



.footer__bottom{
    background: #293449;

}
.footer__bottom-wrap{
    flex-direction: row;
    justify-content: space-between;
    height: 107px;
    align-items: center;
}
.footer__bottom-wrap ul{
    padding: 0;
    margin: 0;
    list-style: none;
}


.footer__copyright{
    font-family: "Cuprum", sans-serif;
    font-size: 16px;
    color: #ffffff;
}
.footer__social-btn{
    display: flex;
    flex-direction: row;
}
.footer__social-item{
    background: #212a3a;
    height: 41px;
    width: 41px;
    border-radius: 50%;
    font-size: 0;
}

.footer__social-item{
    text-decoration: none;
    color: #fff;
}

.footer__social--vkontakte{
    background-image:url("../images/socail.png");
    background-repeat: no-repeat;
    background-position: 7px 9px;
}
.footer__social--vkontakte:hover{
    background: #ee3643;
    background-image:url("../images/socail.png");
    background-repeat: no-repeat;
    background-position: 7px 9px;
}
.footer__social--facebook{
    background-image:url("../images/socail.png");
    background-repeat: no-repeat;
    background-position: -38px 9px;
}
.footer__social--facebook:hover{
    background: #ee3643;
    background-image:url("../images/socail.png");
    background-repeat: no-repeat;
    background-position: -38px 9px;
}
.footer__social--instagram{
    background-image:url("../images/socail.png");
    background-repeat: no-repeat;
    background-position: -82px 9px;
}
.footer__social--instagram:hover{
    background: #ee3643;
    background-image:url("../images/socail.png");
    background-repeat: no-repeat;
    background-position: -82px 9px;
}
.footer__social-btn a:nth-child(2){
    margin: 0 3px;
}
.footer__feedback{
    display: flex;
}
.footer__feedback a{
    color: #ffd180;
    text-decoration: none;
    font-family: "Cuprum", sans-serif;
    font-size: 16px;
}
.footer__feedback a:hover{
    text-decoration: underline;
    color: #ffd180;
}
.footer__feedback a:active{
    text-decoration: none;
    color: red;
}
.footer__feedback ul{
    display: flex;
    flex-direction: row;
}
.footer__feedback ul li{
    display:flex;
    flex-direction: column;
    font-family: "Cuprum", sans-serif;
    font-size: 16px;
    color: #ffffff;
}
.footer__feedback ul li:first-child{
    margin-right: 53px;
}

@-webkit-keyframes bounce
{
    0%
    {
        -webkit-transform: translateY(-2000px);
        transform: translateY(-2000px);
    }
    70%
    {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }
    90%
    {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    100%
    {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes bounce
{
    0%
    {
        -webkit-transform: translateY(-2000px);
        transform: translateY(-2000px);
    }
    70%
    {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }
    90%
    {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    100%
    {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes shake
{
    0%,
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90%
    {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80%
    {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
}

@keyframes shake
{
    0%,
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90%
    {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80%
    {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
}

.modal__error
{
    -webkit-animation: shake .6s;
    animation: shake .6s;
}















